<div class="PositionLeaderboard">
  <div class="LeaderboardBox">
    <h3 class="CodleSubtitleStyling">Leaderboard</h3>
    <ul class="LeaderboardList">
      <li class="LeaderboardHeader">
        <span class="LeaderboardName"><strong>Name</strong></span>
        <span class="LeaderboardScore"><strong>Score</strong></span>
        <span class="LeaderboardAttempts"><strong>Attempts</strong></span>
        <span class="LeaderboardDate"><strong>DateAchieved</strong></span>
      </li>

      @for (int i = 0; i < 10; i++)
      {
        var entryClass = i switch
        {
          0 => "GoldEntry",
          1 => "SilverEntry",
          2 => "BronzeEntry",
          _ => "StandardEntry"
        };
        if (i < LeaderboardList.Count)
        {
          var entry = LeaderboardList[i];
          <li class="@entryClass">
            <span class="LeaderboardName">@entry.Username</span>
            <span class="LeaderboardScore">@FormatTime(entry.TimeTaken)</span>
            <span class="LeaderboardAttempts">@entry.Attempts</span>
            <span class="LeaderboardDate">@entry.DateAchieved.ToString("yyyy-MM-dd")</span>
          </li>
        }
        else
        {
          <li class="@entryClass">
            <span class="LeaderboardName">---</span>
            <span class="LeaderboardScore">---</span>
            <span class="LeaderboardAttempts">---</span>
            <span class="LeaderboardDate">---</span>
          </li>
        }
      }
    </ul>
  </div>
</div>