@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="Wordle" @ref="WordleResetFix" @onkeydown="OnPhysicalKeyboardClick" tabindex="0">
    @for (int y = 0; y < 6; y++)
    {
        <div class="AttemptRow">
            @for (int x = 0; x < 5; x++)
            {
                var index = y * 5 + x;
                <input class="LetterCell @gridStyles[y, x]"
                       type="text"
                       maxlength="1"
                       readonly
                       @bind="@grid[y, x]"/>
            }
        </div>
    }
    <h1 class="WordleMessageStyling">@wordle.Message</h1>
    <div class="VisibleKeyboard">
        <div class="VisibleKeyboardRow">
            @foreach (var letter in TopRowVisibleKeyboard)
            {
                <button class="KeyboardButton @LetterColorChange(letter)" @onclick="() => OnVisibleKeyboardClick(letter)">@letter</button>
            }
        </div>
        <div class="VisibleKeyboardRow">
            @foreach (var letter in MiddleRowVisibleKeyboard)
            {
                <button class="KeyboardButton @LetterColorChange(letter)" @onclick="() => OnVisibleKeyboardClick(letter)">@letter</button>
            }
        </div>
        <div class="VisibleKeyboardRow">
            @foreach (var letter in BottomRowVisibleKeyboard)
            {
                <button class="KeyboardButton @LetterColorChange(letter)" @onclick="() => OnVisibleKeyboardClick(letter)">@letter</button>
            }
        </div>
    </div>
    <button class="RestartGameButton" @onclick="RestartGame">Restart game</button>
</div>