@page "/"
@using CodleLeaderboardDb.Model
@using Microsoft.EntityFrameworkCore
@using MiniGameVisual.Services
@rendermode InteractiveServer
@inject IGameSessionService GameSessionService

<PageTitle>Home</PageTitle>

<div class="Codle" @ref="CodleResetFix" @onkeydown="OnPhysicalKeyboardClick" tabindex="0">
    <div class="TopPageTitle">
        <h1 class="CodleTitleStyling">Codle</h1>
        <h3 class="CodleSubtitleStyling">A software development related version of wordle</h3>
    </div>
    <div class="GuessBox">
        @for (int y = 0; y < 6; y++)
        {
            <div class="AttemptRow">
                @for (int x = 0; x < 5; x++)
                {
                    <span class="LetterCell @gridStyles[y, x]">@grid[y, x]</span>
                }
            </div>
        }
    </div>
    <div class="TopPageTitle PositionMessage">
        <h3 class="CodleMessageNotice">@((MarkupString)codle.Message)</h3>
    </div>
    <div class="TopPageTitle PositionExplanation">
        <h1 class="CodleTitleStyling">The meaning</h1>
        <h3 class="CodleSubtitleStyling">
            @(codle.GameOver ? codle.CodleWordExplain : "The meaning of the word will be shown after the game is over.")
        </h3>
    </div>
    <div class="TopPageTitle PositionTimer">
        <h3 class="CodleSubtitleStyling">Elapsed time in seconds: @elapsedSeconds</h3>
    </div>
    <div class="TopPageTitle PositionLeaderboard">
        <div class="LeaderboardBox">
            <h3 class="CodleSubtitleStyling">Leaderboard</h3>
            <ul class="LeaderboardList">
                <li class="LeaderboardHeader">
                    <span class="LeaderboardName"><strong>Name</strong></span>
                    <span class="LeaderboardScore"><strong>Score</strong></span>
                    <span class="LeaderboardAttempts"><strong>Attempts</strong></span>
                    <span class="LeaderboardDate"><strong>DateAchieved</strong></span>
                </li>

                @for (int i = 0; i < 10; i++)
                {
                    var entryClass = i switch
                    {
                        0 => "GoldEntry",
                        1 => "SilverEntry",
                        2 => "BronzeEntry",
                        _ => "StandardEntry"
                    };
                    if (i < leaderboard.Count)
                    {
                        var entry = leaderboard[i];
                        <li class="@entryClass">
                            <span class="LeaderboardName">@entry.Username</span>
                            <span class="LeaderboardScore">@FormatTime(entry.TimeTaken)</span>
                            <span class="LeaderboardAttempts">@entry.Attempts</span>
                            <span class="LeaderboardDate">@entry.DateAchieved.ToString("yyyy-MM-dd")</span>
                        </li>
                    }
                    else
                    {
                        <li class="@entryClass">
                            <span class="LeaderboardName">---</span>
                            <span class="LeaderboardScore">---</span>
                            <span class="LeaderboardAttempts">---</span>
                            <span class="LeaderboardDate">---</span>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <button 
        class="RestartGameButton" 
        @onclick="RestartGame"
        disabled="@IsRestartBlocked">
        Restart game
    </button>
    @if (showPopup)
    {
        <div class="popup-overlay">
            <div class="popup-box">
                <label>Click on the word that you want the bot to guess</label>
                <div class="allowed-words-box">
                    <ul>
                        @foreach (var word in allowedWords)
                        {
                            <button @onclick="() => SubmitUserSelectedWord(word)">@word</button>
                        }
                    </ul>
                </div>
                <button @onclick="ClosePopup">Close</button>
            </div>
        </div>
    }
    <button class="LetComputerPlay" @onclick="OpenPopup">Let computer play</button>
    @if (ShowUsernameInputPopup)
    {
        <div class="popup-overlay">
            <div class="popup-box">
                <label for="playerName">Enter your name (max 20 characters):</label>
                <input class="nameinput-popup" id="playerName" @bind="playerName" maxlength="20" />
                <button @onclick="SubmitPlayerName">Submit</button>
            </div>
        </div>
    }
    <section class="VisibleKeyboard" aria-label="On-screen keyboard">
        <div class="VisibleKeyboardRow">
            @foreach (var letter in TopRowVisibleKeyboard)
            {
                <button 
                    class="KeyboardButton @LetterColorChange(letter)" 
                    @onclick="() => OnVisibleKeyboardClick(letter)">
                    @letter
                </button>
            }
        </div>
        <div class="VisibleKeyboardRow">
            @foreach (var letter in MiddleRowVisibleKeyboard)
            {
                <button 
                    class="KeyboardButton @LetterColorChange(letter)" 
                    @onclick="() => OnVisibleKeyboardClick(letter)">
                    @letter
                </button>
            }
        </div>
        <div class="VisibleKeyboardRow">
            @foreach (var letter in BottomRowVisibleKeyboard)
            {
                <button 
                    class="KeyboardButton @LetterColorChange(letter)" 
                    @onclick="() => OnVisibleKeyboardClick(letter)">
                    @letter
                </button>
            }
        </div>
    </section>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        await RefreshLeaderboardAsync();
    }
}