@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="Wordle" @ref="WordleResetFix" @onkeydown="OnPhysicalKeyboardClick" tabindex="0">
    <div class="TopPageTitle">
        <h1 class="WordleTitleStyling">Codle</h1>
        <h3 class="WordleSubtitleStyling">A software development related verison of wordle</h3>
    </div>
    <div class="GuessBox">
        @for (int y = 0; y < 6; y++)
        {
            <div class="AttemptRow">
                @for (int x = 0; x < 5; x++)
                {
                    <span class="LetterCell @gridStyles[y, x]">@grid[y, x]</span>
                }
            </div>
        }
    </div>
    <div class="TopPageTitle PositionMessage">
        <h1 class="WordleSubtitleStyling WordleMessageNotice">@wordle.Message</h1>
    </div>
    <div class="TopPageTitle PositionExplanation">
        <h1 class="WordleTitleStyling">The meaning</h1>
        <h3 class="WordleSubtitleStyling">
            @(wordle.GameOver ? wordle.WordleWordExplain : "The meaning of the word will be shown after the game is over.")
        </h3>
    </div>
    <div class="TopPageTitle PositionTimer">
        <h3 class="WordleSubtitleStyling">Elapsed time in seconds: @elapsedSeconds</h3>
    </div>
    <div class="TopPageTitle PositionLeaderboard">
        <div class="LeaderboardBox">
            <h3 class="WordleSubtitleStyling">Leaderboard</h3>
            <ul class="LeaderboardList">
                <li><span class="LeaderboardName">DummyPlayer1</span> <span class="LeaderboardScore">45s</span></li>
                <li><span class="LeaderboardName">DummyPlayer2</span> <span class="LeaderboardScore">52s</span></li>
                <li><span class="LeaderboardName">DummyPlayer3</span> <span class="LeaderboardScore">1m 12s</span></li>
                <li><span class="LeaderboardName">DummyPlayer1</span> <span class="LeaderboardScore">45s</span></li>
                <li><span class="LeaderboardName">DummyPlayer2</span> <span class="LeaderboardScore">52s</span></li>
                <li><span class="LeaderboardName">DummyPlayer3</span> <span class="LeaderboardScore">1m 12s</span></li>
                <li><span class="LeaderboardName">DummyPlayer1</span> <span class="LeaderboardScore">45s</span></li>
                <li><span class="LeaderboardName">DummyPlayer2</span> <span class="LeaderboardScore">52s</span></li>
                <li><span class="LeaderboardName">DummyPlayer3</span> <span class="LeaderboardScore">1m 12s</span></li>
                <li><span class="LeaderboardName">DummyPlayer1</span> <span class="LeaderboardScore">45s</span></li>
            </ul>
        </div>
    </div>
    <button class="RestartGameButton" @onclick="RestartGame">Restart game</button>
    @if (showPopup)
    {
        <div class="popup-overlay">
            <div class="popup-box">
                <label>Click on the word that you want the bot to guess</label>
                <div class="allowed-words-box">
                    <ul>
                        @foreach (var word in allowedWords)
                        {
                            <button @onclick="() => SubmitUserSelectedWord(word)">@word</button>
                        }
                    </ul>
                </div>
                <button @onclick="ClosePopup">Close</button>
            </div>
        </div>
    }
    <button class="LetComputerPlay" @onclick="OpenPopup">Let computer play</button>
    <section class="VisibleKeyboard" aria-label="On-screen keyboard">
        <div class="VisibleKeyboardRow">
            @foreach (var letter in TopRowVisibleKeyboard)
            {
                <button 
                    class="KeyboardButton @LetterColorChange(letter)" 
                    @onclick="() => OnVisibleKeyboardClick(letter)">
                    @letter
                </button>
            }
        </div>
        <div class="VisibleKeyboardRow">
            @foreach (var letter in MiddleRowVisibleKeyboard)
            {
                <button 
                    class="KeyboardButton @LetterColorChange(letter)" 
                    @onclick="() => OnVisibleKeyboardClick(letter)">
                    @letter
                </button>
            }
        </div>
        <div class="VisibleKeyboardRow">
            @foreach (var letter in BottomRowVisibleKeyboard)
            {
                <button 
                    class="KeyboardButton @LetterColorChange(letter)" 
                    @onclick="() => OnVisibleKeyboardClick(letter)">
                    @letter
                </button>
            }
        </div>
    </section>
</div>